<footer id="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>Entre em contato</h4>
            <p><strong>Telefone:</strong> (55) 457598491</p>
            <p><strong>Email:</strong> ongtech4all&#64;gmail.com</p>
            <p><strong>Endereço:</strong> Curitiba, Paraná</p>
        </div>
        <div class="footer-section">
            <h4>Siga-nos</h4>
            <div class="social-icons">
                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="footer-section">
            <h4>Sobre nós</h4>
            <p>
                Tech4All é uma ONG dedicada a transformar vidas por meio da educação e tecnologia. Junte-se a nós para fazer a diferença!
            </p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Tech4All. Todos os direitos reservados.</p>
    </div>
</footer>