<div class="d-flex flex-column align-items-center justify-content-center" id="body">

    <h4> Participe das nossas ações </h4>

    <div class="d-flex justify-content-center flex-row">
        <div class="card" style="width: 18rem;">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Título do Card</h5>
                <p class="card-text">Descrição breve sobre as ações que você pode participar.</p>
                <button class="btn btn-primary">Saiba Mais</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Título do Card</h5>
                <p class="card-text">Descrição breve sobre as ações que você pode participar.</p>
                <button class="btn btn-primary">Saiba Mais</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Título do Card</h5>
                <p class="card-text">Descrição breve sobre as ações que você pode participar.</p>
                <button class="btn btn-primary">Saiba Mais</button>
            </div>
        </div>
    </div>

    
</div>