<div class="d-flex justify-content-center flex-row">
    <div class="card" style="width: 18rem;">
        <img src="app/assets/shapes/shape-1.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="donation-title">Doação</h5>
            <p class="donation-text">Não importa a quantidade, sua doação vai fazer uma grande diferença na vida de milhões de crianças e adolescentes. </p>
            <button class="btn btn-primary">Doe</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="app/assets/shapes/shape-2.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="volunteer-title">Voluntariado</h5>
            <p class="volunteer-text">Seja um voluntário e nos ajude a ensinar tecnologia por todos os estados do Brasil e participar da maior ONG de ensino tecnológico voluntário.</p>
            <button class="btn btn-primary">Seja um voluntário</button>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="app/assets/shapes/shape-3.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Divulgue nossa causa</h5>
            <p class="card-text">Não pode contribuir de outra maneira? Que tal divulgar a nossa causa? Você estará contribuindo da mesma forma!</p>
            <button class="btn btn-primary">Compartilhe</button>
        </div>
    </div>
</div>