<div id="body" class="d-flex justify-content-center flex-column">
    <h4 class="text-center mt-4">Histórias que inspiram</h4>
    <div class="d-flex justify-content-center flex-row align-items-center">
        <p id="textInfo" class="text-center">Capacitamos crianças e adolescentes em situação de vulnerabilidade por meio da tecnologia, proporcionando conhecimento e oportunidades para que se tornem agentes de inovação e transformação no mundo.</p>
        <div class="d-flex justify-content-center flex-column align-items-center">
            <div class="card" style="width: 20rem;">
                <img src="./app/assets/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">"A Tech4All foi essencial para que eu tivesse condições de aprender sobre tecnologia, algo que era meu grande sonho. Mesmo sem recursos financeiros, a ONG me ofereceu tudo o que eu precisava, além de aulas gratuitas.”</p>
                  <h5 class="card-title">Natália, 16 anos</h5>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center flex-column align-items-center ms-5">
            <div class="card" style="width: 20rem;">
                <img src="./app/assets/logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">“Nasci em uma periferia na Zona Oeste de SP e aprender sobre robótica e tecnologia sempre foi uma vontade que eu tive. Não tinha como pagar cursos online ou presenciais, mas a Tech4All me deu todo apoio e acesso a conteúdos incríveis de forma gratuita.”</p>
                  <h5 class="card-title">Felipe, 17 anos</h5>
                </div>
            </div>
        </div>
    </div>
</div>

