<div class="stories-container">
  <h2 class="section-title">Histórias que inspiram</h2>

  <div class="intro-row">
    <div class="intro-text">
      <p>
        Capacitamos crianças e adolescentes em situação de vulnerabilidade por meio da tecnologia, 
        proporcionando conhecimento e oportunidades para que se tornem agentes de inovação e transformação no mundo.
      </p>
    </div>

    <div class="cards">
      <div class="card">
        <div class="decorative-shape"></div>
        <img src="app/assets/students/natalia.png" alt="Natalia" />
        <div class="quote">
          <p>"A Tech4All foi essencial para que eu tivesse condições de aprender sobre tecnologia, algo que era meu grande sonho. Mesmo sem recursos financeiros, a ONG me ofereceu tudo o que eu precisava, além de aulas gratuitas.”</p>
          <strong>Natália, 16 anos</strong>
        </div>
      </div>
      

      <div class="card">
        <div class="decorative-shape"></div>
        <img src="app/assets/students/felipe.png" alt="Felipe" />
        <div class="quote">
          <p>“Nasci em uma periferia na Zona Oeste de SP e aprender sobre robótica e tecnologia sempre foi uma vontade que eu tive. Não tinha como pagar cursos online ou presenciais, mas a Tech4All me deu todo apoio e acesso a conteúdos incríveis de forma gratuita.”</p>
          <strong>Felipe, 17 anos</strong>
        </div>
      </div>
    </div>
  </div>
</div>