<img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
<div class="d-flex flex-row justify-content-center align-items-center" id="body">

    <div class="d-flex flex-column justify-content-center align-items-center"> 
        <h4> Nossa Missão </h4>
        <p>Nossa missão é garantir que toda criança tenha acesso a uma educação de qualidade e às ferramentas necessárias para seu sucesso. Desde 2015, trabalhamos para transformar vidas por meio do conhecimento, e seguimos firmes nesse propósito com o apoio de nossos parceiros e colaboradores.</p>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center"> 
        <h4>No que acreditamos</h4>
        <p>Acreditamos que educação e tecnologia transformam vidas. Defendemos a igualdade de oportunidades, a inovação e a inclusão, capacitando jovens para construir um futuro melhor e impactar a sociedade.</p>
    </div>
    
</div>