<div class="mission-container">
    <h2 class="section-title">Nossa Missão e Valores</h2>
    <div class="mission-content">
        <div class="mission-card">
            <img src="app/assets/mission&values/missao-crianca.png" class="mission-img" alt="Nossa Missão">
            <div class="mission-text-content">
                <h4 class="mission-title">Nossa Missão</h4>
                <p class="mission-text">
                    Nossa missão é garantir que toda criança tenha acesso a uma educação de qualidade e às ferramentas necessárias para seu sucesso. Desde 2015, trabalhamos para transformar vidas por meio do conhecimento, e seguimos firmes nesse propósito com o apoio de nossos parceiros e colaboradores.
                </p>
            </div>
        </div>
        <div class="mission-card">
            <img src="app/assets/mission&values/valores-crianca.png" class="mission-img" alt="No que acreditamos">
            <div class="mission-text-content">
                <h4 class="mission-title">No que acreditamos</h4>
                <p class="mission-text">
                    Acreditamos que educação e tecnologia transformam vidas. Defendemos a igualdade de oportunidades, a inovação e a inclusão, capacitando jovens para construir um futuro melhor e impactar a sociedade.
                </p>
            </div>
        </div>
    </div>
</div>