<div class="d-flex flex-column align-items-center justify-content-center" id="body">
    <h4> Faça uma doação </h4>

    <div class="d-flex flex-row" id="container">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
        <form style="background-color: rebeccapurple;">
            <div class="mb-3">
            <label for="donationAmount" class="form-label">Valor da Doação</label>
            <input type="number" class="form-control" id="donationAmount" placeholder="Digite o valor">
            </div>
            <div class="mb-3">
            <label for="donorName" class="form-label">Nome</label>
            <input type="text" class="form-control" id="donorName" placeholder="Seu nome">
            </div>
            <div class="mb-3">
            <label for="donorEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="donorEmail" placeholder="Seu email">
            </div>
            <button type="submit" class="btn btn-primary">Doar</button>
        </form>

    </div>


</div>