<div class="d-flex justify-content-center align-items-center flex-column" id="body">
  <h4 class="text-center mt-4">Nossas Ações</h4>
  <div class="d-flex justify-content-center flex-row gap-4 mt-4">
    <div class="d-flex justify-content-center align-items-center flex-column card">
      <img src="./app/assets/professora-ensinando.jpg" class="card-img-top" alt="Aulas de programação">
      <p class="text-center mt-3">
        Aulas de programação durante os fins de semana. Oferecemos aulas gratuitas de programação em diversas comunidades de São Paulo, sendo necessário apenas o cadastro completo do aluno interessado através do nosso formulário disponibilizado na página inicial.
      </p>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column card">
      <img src="./app/assets/criancas-aprendendo.jpg" class="card-img-top" alt="Aulas de robótica">
      <p class="text-center mt-3">
        Oferecemos aulas de Robótica semestrais para crianças e adolescentes de 5 a 17 anos. As aulas são projetadas para estimular a criatividade e o raciocínio lógico, utilizando ferramentas modernas e práticas que tornam o aprendizado divertido e interativo. Venha conhecer!</p>
    </div>
  </div>
  <button class="btn btn-primary mt-4">Saiba Mais</button>
</div>