<div class="d-flex justify-content-center align-items-center flex-column">
  <h4 class="text-center mt-4">Nossas ações</h4>
  <div class="d-flex justify-content-center flex-row align-items-center">
    <div class="card" style="width: 18rem;">
        <img src="./app/assets/logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ação 1</h5>
          <p class="card-text">Descrição da ação 1.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="./app/assets/logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ação 1</h5>
          <p class="card-text">Descrição da ação 1.</p>
        </div>
    </div>
  </div>



</div>